<% require 'set' %>

<header class="jumbotron" id="intro_section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3" id="profile_picture_box">
        <%= image_tag( "sage_berg_profile_picture.jpg",
                       :id => "profile_picture",
                       :alt => "Sage Berg profile picture",
                       :class => "img-responsive",
                       :class => "center-block" ) %>
      </div>
      <div class="col-md-9" id="about_me">
        <h1>Sage Berg<h1>
        <p>I like coding, running and self-tracking.</p>
      </div>
    </div> <!-- end row -->
  </div> <!-- end container -->
</header>

<div class="jumbotron" id="tech_tracking">

  <div class="section_header">
    <h2 class="section_title">Tools I use</h2>
    <p>I update this list daily to encourage myself to explore new technologies.
    </p>
  </div>

  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Logo</th>
          <th>Tool</th>
          <th><%= "Days used in the last " +
                 ((DateTime.now - DateTime.new(2016,5,22)).to_i + 1).to_s +
                 " days"%>
          </th>
          <th>Days used in the last <%= Tech.box_days %> days</th>
        </tr>
      <thead>
      <tbody>
        <% @techs = Tech.all.order(:name) %>

        <% @uses = Use.all %>
        <% @tech_ids_to_uses = {} %>

        <% @uses.each do |use| %>
          <% if @tech_ids_to_uses[use.tech_id] == nil %>
            <% @tech_ids_to_uses[use.tech_id] = Set.new [use.created_at] %>
          <% else %>
            <% @tech_ids_to_uses[use.tech_id].add(use.created_at) %>
          <% end %>
        <% end %>

        <% @techs.each do |tech| %>
          <tr>
            <td>
              <%= image_tag( tech.image_ref,
                             :class => "tech_logo" ) %>
            </td>
            <td>
              <%= tech.name %>
            </td>
            <td>
              <%= tech.times_used.to_s %>
            </td>
            <td>
              <div class="GitHub_style_boxes">
                <% for i in 1..Tech.box_days %>

                  <!-- TODO: turn into a partial and refactor -->
                  <% t = Time.new() %>
                  <% begin %>
                     <% day = Time.new(t.year,t.month,t.day - Tech.box_days + i) %>
                  <% rescue %>
                     <% begin %>
                       <% day = Time.new(t.year,t.month - 1,t.day + i) %>
                     <% rescue %>
                       <% day = Time.new(t.year - 1,12,t.day + i) %>
                     <% end %>
                  <% end %>

                  <% unless @tech_ids_to_uses[tech.id] == nil %>
                    <% @tech_ids_to_uses[tech.id].each do |current_use| %>
                      <% if (Date.new - current_use.to_date).to_i < 31 %>
                        <div class="GitHub_style_box" style="background-color: #0099ff;"></div>
                      <% end %>
                    <% end %>
                  <% else %>
                    <div class="GitHub_style_box" title="
                         <%= day.strftime("%d %B %Y") %>">
                    </div>
                  <% end %> <!-- end unless -->
                <% end %> <!-- end loop -->
              </div> <!-- end GitHub style boxes -->
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div> <!-- end container -->
</div> <!-- end jumbotron -->

<script>
  function show_date() {
    date = new Date();
    return date;
  }
</script>
