<header class="jumbotron" id="intro_section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3" id="profile_picture_box">
        <%= image_tag( "sage_berg_profile_picture.jpg",
                       :id => "profile_picture",
                       :alt => "Sage Berg profile picture",
                       :class => "img-responsive",
                       :class => "center-block" ) %>
      </div>
      <div class="col-md-9" id="about_me">
        <h1>Sage Berg<h1>
        <p>I like coding, running and self-tracking.</p>
      </div>
    </div> <!-- end row -->
  </div> <!-- end container -->
</header>

<div class="jumbotron" id="tech_tracking">

  <div class="section_header">
    <h2 class="section_title">Tools I use</h2>
    <p>I update this list daily to encourage myself to explore new technologies.</p>
  </div>

  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Logo</th>
          <th>Tool</th>
          <th><%= "Number of days in which I used this tech in the last " +
                 ((DateTime.now - DateTime.new(2016,5,22)).to_i + 1).to_s + " days"%></th>
        </tr>
      <thead>
      <tbody>
        <% @techs = Tech.all.order(:name) %>
        <% @techs.each do |tech| %>
          <tr>
            <td>
              <%= image_tag( tech.image_ref,
                             :class => "tech_logo") %>
            </td>
            <td>
              <%= tech.name %>
            </td>
            <td>
              <%= tech.times_used.to_s %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div> <!-- end container -->
</div> <!-- end jumbotron -->
